* {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

body {
  background-color: #333333;
}

header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* 
h3 {
  color: #48b34f;
}

h1 {
  color: #98ff9f;
} */

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-button {
  width: 6rem;
}

.openmenu {
  position: fixed;
  top: 1vw;
  right: 3vw;
  font-size: 3rem;
  color: white;
  z-index: 1500;
}

.openmenu p {
  font-size: 2.5rem;
}

.nav-list {
  width: 20rem;
  height: 100vh;
  background-color: #98ff9f;
  position: fixed;
  top: 0;
  right: -21rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  transition: all 650ms ease-in-out;
}

.toggle {
  display: none;
}

.toggle:checked + .nav-list {
  right: 0;
}

.nav-item {
  margin: 1.5rem 0;
}

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

.merch {
  width: 100%;
  height: 90vh;
  background: linear-gradient(
      135deg,
      rgba(24, 177, 70, 0.6) 0%,
      rgba(72, 179, 79, 0.5) 100%
    ),
    url("homebg.jpg"), center no-repeat;

  background-size: cover;
  position: relative;
}

.first-message {
  width: 100%;
  max-width: 40rem;
  color: white;
  text-transform: uppercase;
  transform: translateY(20%);
  
}

.first-message h3 {
  font-size: 1.2rem;
  margin: 0.8rem;
}

.first-message h1 {
  font-size: 2.5rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.first-message p {
  font-size: 1rem;
  margin: 0.8rem;
  margin-top: 0.5rem;
  text-transform: lowercase;
}

.store {
  width: 100%;
  height: 90vh;
}

.store-message {
  width: 100%;
  max-width: 40rem;
  color: white;
  text-transform: uppercase;
  transform: translateY(20%);
  
}

.store-message h3 {
  font-size: 1.2rem;
  margin: 0.8rem;
}



.store-message h1 {
  font-size: 2.5rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  color: #98ff9f;
  
}

.store-message p {
  font-size: 1rem;
  margin: 0.8rem;
  margin-top: 0.5rem;
  text-transform: lowercase;
}

.btn {
  background-color: #6cb371;
  border-radius: 2rem;
  color: white;
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
}

.musicbtn {
  margin-top: 1rem;
}

.btn:hover{
  background-color: #5b945f;
}

.merch-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 0.16fr));
  grid-gap: 2.5rem;
  padding-top: 4rem;
}

.merch-grid-item {
  height: 20rem;
  padding: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.merch-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.openstore-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 0.3fr));
  grid-gap: 2.5rem;
  padding-top: 4rem;
  margin-top: 2rem;
}

.openstore-grid-item {
  height: 200%;
  width: 150%;
  padding: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.openstore-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.scrim-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 0.3fr));
  grid-gap: 2.5rem;
  padding-top: 6rem;
  margin-left: 2rem;
  margin-bottom: 18rem;
}

.scrim-grid-item {
  height: 450%;
  width: 320%;
  padding: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}

.scrim-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.store-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 0.16fr));
  grid-gap: 2.5rem;
  padding-top: 4rem;
  background-color: #98ff9f;
  margin-top: 2rem;
  
}

.store-grid-item {
  height: 20rem;
  padding: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2rem;
}

.album {
  margin-bottom: 8rem;
}

.footer {
  margin-bottom: 3rem;
}

.store-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.shop-one {
  background: url("shop.png") center no-repeat;
 
}

.hoodie-one {
  background: url("hoodie_1.jpg") center no-repeat;
  
}

.hoodie-two {
  background: url("hoodie_2.jpg") center no-repeat;
  
}

.hoodie-three {
  background: url("hoodie_3.jpg") center no-repeat;
  
}

.hoodie-four {
  background: url("hoodie_4.jpg") center no-repeat;
  
}

.hoodie-five {
  background: url("hoodie_5.jpg") center no-repeat;
  
}

.suicide-boys {
  background: url("suicide.png") center no-repeat;
}

.music {
  padding: 0;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.6);
}

.title h1 {
  font-size: 2rem;
  margin: 0.5rem 0 1rem;
}

.title p {
  text-transform: lowercase;
  font-size: 1.2rem;
}

.music-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2.5rem;
}

.music-grid-item {
  height: 45rem;
  padding: 5rem;
  margin-bottom: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: -1;
}

.music-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    135deg,
    rgba(23, 146, 60, 0.5) 0%,
    rgba(72, 179, 79, 0.4) 100%
  );
  z-index: -1;
}

.music-grid-item h1 {
  text-align: center;
}

.album-one {
  background: url("album_one.jpg") center no-repeat;
}

.album-two {
  background: url("album_two.jpg") center no-repeat;
}

.album-three {
  background: url("album_three.jpg") center no-repeat;
}

.store-one {
  background: url("store_one.png") center no-repeat;
}

.store-two {
  background: url("store_two.jpg") center no-repeat;
}

.store-three {
  background: url("store_three.jpg") center no-repeat;
}

.about-m {
  width: 100%;
  height: 80vh;
  background: linear-gradient(
    135deg,
    rgba(23, 146, 60, 0.6) 0%,
    rgba(72, 179, 79, 0.5) 100%), url("homebg.jpg") center no-repeat fixed;
    background-size: cover;
    position: relative;
    
}

.about-m::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.7rem;
}

.about-music {
  width: 100%;
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.info-message {
  text-align: center;
  position: absolute;
  width: 80%;
  top: 10%;
  color: #98ff9f;
}

.info-message h4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
}

.info-message p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
}

.about-box {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.about-box h3 {
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8rem;
  opacity: 0.5;
  z-index: -1;
}

.about-critics img{
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border: 3px solid #98ff9f;
}

.info-page img {
  width: 30rem;
  height: 30rem;
  border-radius: 100%;
  border: 5px solid #98ff9f;
  text-align: center;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  margin-bottom: 2rem;
}

.about-grid p {
  color: rgba(255,255,255, 0.7);
  margin: 2rem;
}

.about-grid-item p {
  font-size: 1rem;
}

footer {
  padding: 2rem 0;
  background: linear-gradient(
    135deg,
    rgba(23, 146, 60, 0.7) 0%,
    rgba(72, 179, 79, 0.6) 100%), url("homebg.jpg") center no-repeat;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

footer p {
  font-size: 1rem;
}

@media screen and (max-width: 350px) {
  .about-grid-item p{
    transform: translateX(-10%);
    padding-right: 5rem;
  }
}
@media screen and (max-width: 700px) {
  .info-message {
    top: 15%;
  }
}

@media screen and (min-width: 350px) {
  .first-message {
    transform: translateY(40%);
  }
  .main-message {
    transform: translateY(40%);
  }
  .about-grid-item p {
    transform: translateY(40%);
  }
  .storebtn {
    padding-bottom: 4rem;
  }
  .store-grid-item {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 700px) {
  header {
    height: 8rem;
  }
  .nav-button {
    width: 3.5rem;
  }
  .nav-list {
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    top: initial;
    right: initial;
    flex-direction: row;
    transition: initial;
  } 
  .openmenu{
    display: none;
  }
  .nav-item {
    margin: 0 2.5rem;
  }
  .nav-link,
  .current {
    color: white;
    position: relative;
    font-size: 1.3rem;
  }
  .nav-link::before,
  .curent::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    background-color: #98ff9f;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms;
  }
  .current::before {
    transform: scaleX(1);
  }
  .nav-link:hover::before{
    transform: scaleX(1);
  }
  .main-message{
    transform: translateY(80%);
  }
  .about-grid-item p {
    font-size: 1.3rem;
  }
}
